html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* (Desktop Version) Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width:1000px;
	margin:auto;
	
}
/*header*/
header nav{
	width:100%;
	display:flex;
	justify-content:space-between;
}
.links{
	width:60%;
	display:flex;
	justify-content: space-between;
}
nav a{
	text-decoration: none;
	color:grey;
	
}

/* CTA*/

#cta{
	display:flex;
	align-items: center;
	justify-content: space-evenly;
}

.cta-text{
	font-size: 343%;
    text-align: center;
    
}
 .cta-pic{
	margin-top: 5% ;
}




/* main content */
.top-content{
	display:flex;
	margin: 7% 0% 0% 2%;
	border-top:1px solid black;
	padding-top: 3%;


}


.middle-img{
width: 906;
margin:5% 0% 5% 0%
}

.bottom-content{
display:flex;
justify-content: space-between;
border-bottom:1px solid black;
padding-bottom: 3%;

}

.bottom-content div{
	width:31%;
}

/* contact */
.Number{
display:flex;
flex-direction:column;
margin:5% 0% 3% 14%;
}




/* footer */
footer{
display:flex;
justify-content:center;
}

/* 500 Media Querry Responsive Design Assignment */

@media (max-width: 500px){

nav{	
	flex-direction:column-reverse;
	align-items: center;
}

.links{
	flex-direction:column;
	justify-content: center;
	align-content: center;
	
	
}
  nav a {
	border-bottom: 1px solid gray;
	text-align: center;
	width:50%;
		
}

.image{
	text-align: center;
	margin-right:40%;
	
}

.cta-text{
/* flex-direction:column;
	padding:10%;
	width:50%; */
	
}

.middle-img{
	width: 95%;
    
}

.top-content{
	flex-direction:column;
	justify-content: space-between;
	width:50%;
	
}
.top-content p{
	margin-bottom:5%;
}

.bottom-content{
	flex-direction: column;
	justify-content: space-evenly;	
}
.bottom-content div{
	width:100%;
}

.bottom-content p{
	margin-bottom:5%;

}



.Number{
	flex-direction:column;
	margin: 10% 3% 10% 0%;
	

	
}


}



/* 800px Media Querry */

@media(max-width: 800px){
	nav{	
		flex-direction:column-reverse;
		text-align: center;
		
	}

	.image{
		margin-right: 14%;
	}

.links{
	display:flex;
	text align:center;
	padding-top:5%;
	margin-left:10%
	
}

.cta-text{
	flex-direction:column;
	text-align: center;
	margin-left: 30%;
	
	
}
.top-content{
	border-top:1px solid gray;
	padding-top:5%;
	
}

.middle-img{
	width: 90%;
    padding: auto;
}

.Number{
	margin: 10% 0%;

}



} 















