html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width:1000px;
	margin:auto;
	
}
/*header*/
header{
	display:flex;
	justify-content:space-evenly;
}
}

header nav a {
	padding:1%;	
}

/* CTA*/

#cta{
	display:flex;
	align-items: center;
}

.cta-text{
	font-size: 343%;
    text-align: center;
    margin: 0% 8% 0% 0%;
}
.cta-pic{
	margin: 5% 21% 0% 22% ;
}




/* main content */
#main-content .top-content{
	display:flex;
	margin:3% 4%;

}

.Features{
	display:flex;
	flex-direction: column;
	margin-right:10%;
}

.About{
	display:flex;
	flex-direction: column;
}

.middle-img{
margin:3% 0%;
}


#main-content .bottom-content{
	display:flex;
	border-bottom:1% black;
}

.Service{
	display:flex;
	flex-direction: column;
	margin-left:2%;
}
.Product{
	display:flex;
	flex-direction: column;
	
}

.Vision{
	display:flex;
	flex-direction: column;
	margin-left:2%;

}


/* contact */
.Number{
display:flex;
flex-direction:column;
margin-top: 5%;
margin-left: 17%;
}




/* footer */
footer{
display:flex;
justify-content:center;
}



/* New Assignment */

/* head */
header nav{
	width:100%;
	display:flex;
	justify-content:space-between;
}
.links{
	width:60%;
	display:flex;
	justify-content: space-evenly;
}
nav a{
	text-decoration: none;
	color:grey;
	
}

/* Service */
.services-header{
	width:100%;
}
.serve-text{
	display:flex;

}
.serve-text p{
	width:200px;
}

/*main-content*/
#main-content2{
	display:flex;
	
	border-top:2px solid black;
	border-bottom:2px solid black;
	padding: 3% 0%;
	margin: 3% 0%;
	
	
}

/* First Column*/
.First{
 display:flex;
 flex-direction:column;
 margin-right:5%;
 		
}

.First div{
	border:1px solid black;
	background:#DCDCDC;
	padding:5%;
	margin:5% 0%

}
.First div button{
	margin-top:5%
}


}

/*Second Column*/
.Second{
	display:flex;
	flex-direction:column;
}
.Second div{
	border:1px solid black;
	background:#DCDCDC;
	padding:5%;
	margin:5% 0%

}
.Second div button{
	margin-top:5%;
}


.Last{
	display:flex;
	margin:3% 0%;
}
.Fact{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	width:60%;
	padding:0% 15%;
}


ul{
	padding:5% 0% 0% 5%;
	list-style-type: circle;
}

/*Media Quarry Assignment*/


@media (max-width: 500px){

nav{	
	flex-direction:column-reverse;
	
}

.links{
	flex-direction:column;
	justify-content: center;
	align-content: center;
	
}
  nav a {
	border-bottom: 1px solid gray;
	text-align: center;
		
}

.image{
	text-align: center;
	margin-right:40%;
	border-bottom: 1px solid gray;
	
}

.cta-text{
	flex-direction:column;
	padding:10%;
	
}

.middle-img{
	width: 50%;
    padding: 0% 3%;
}

.top-content{
	flex-direction:column;
	
}
.Features{
	margin: 2% 0%;
	flex-wrap: wrap;
}

.bottom-content{
	flex-direction: column;
	justify-content: space-evenly;	
}




.Number{
	flex-direction:column;
	margin: 10% 3% 10% 0%;
	

	
}


}



/* 800px */

@media(max-width: 800px){
	nav{	
		flex-direction:column-reverse;
		text-align: center;
		
	}

	.image{
		margin-right: 12%;
	}

.links{
	display:flex;
	text align:center;
	padding-top:5%;
	margin-left:10%
	
}

.cta-text{
	flex-direction:column;
	text-align: center;
	margin-left: 30%;
	
	
}
.top-content{
	border-top:1px solid gray;
	padding-top:10%;
}
.middle-img{
	width: 90%;
    padding: auto;
}










} 















